@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FliegeMono';
  src: url('../fonts/FliegeMono-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}